@use '@styles/variables' as *;

.column {
	width: 300px;
	background-color: #f1f2f4;
	border-radius: 12px;
	display: flex;
	flex-direction: column;

	scroll-snap-align: start;

	max-height: 100%;
	flex-shrink: 0;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	@media (max-width: 768px) {
		width: 85vw;
		max-height: calc(100vh - 120px);
	}
}

.header {
	padding: 12px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-shrink: 0;

	.title {
		font-size: 14px;
		font-weight: 600;
		color: #172b4d;
		margin: 0;
	}

	.count {
		font-size: 11px;
		background: rgba(0, 0, 0, 0.06);
		padding: 2px 8px;
		border-radius: 10px;
		color: #5e6c84;
	}
}

.cardsList {
	flex: 1;
	overflow-y: auto;
	padding: 0 12px 12px 12px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-height: 50px;
	-webkit-overflow-scrolling: touch;

	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: rgba(0, 0, 0, 0.1);
		border-radius: 10px;
	}
}

.footer {
	padding: 8px 12px 12px;
	flex-shrink: 0; // Футер не "тікає"
}
