@use '@styles/variables' as *;

.appLayout {
	display: flex;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: $bg-main;
}

.mainContent {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
}

.logo {
	font-weight: 800;
	font-size: 1.2rem;
	margin-bottom: 30px;
	color: $primary;
	text-transform: uppercase;

	@media (max-width: 768px) {
		padding-left: 40px;
		margin-bottom: 20px;
	}
}

.topBar {
	height: 60px;
	padding: 0 24px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255, 0.02);
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);

	@media (min-width: 768px) {
		display: none;
	}

	@media (max-width: 768px) {
		padding: 0 16px;
	}

	.actions {
		display: flex;
		gap: 16px;
		align-items: center;
	}
}

.stage {
	flex: 1;
	overflow-y: auto;
	padding: 24px;

	@media (max-width: 768px) {
		padding: 16px;
	}
}

.emptyState {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.5;
	text-align: center;
	padding: 20px;

	h2 {
		max-width: 400px;
		font-weight: 400;
		font-size: 1.2rem;
	}
}
