# local builds
dist/
coverage/
generated/             
prisma/generated/  

# mocks
__mocks__/
*.test-data/
*.mock.*

# Vercel / deployment 
.vercel/
.output/

# Prisma 
prisma/dev.db
prisma/*.sqlite

# local env
.env.local
.vercel
