@use '@styles/variables' as *;

.card {
	background: white;
	padding: 10px 12px;
	border-radius: 8px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
	color: #333;
	font-size: 14px;
	cursor: pointer;
	&:hover {
		background: #f9f9f9;
	}
}
