@use '@styles/variables' as *;

.card {
	background-color: $card-bg;
	border-radius: $radius;
	padding: 10px 12px;
	box-shadow:
		0 1px 1px rgba(0, 0, 0, 0.1),
		0 0 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
	transition:
		transform 0.1s,
		box-shadow 0.2s;
	border: 1px solid transparent;

	&:hover {
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
		border-color: rgba($primary, 0.3);
	}

	.title {
		margin: 0;
		font-size: 14px;
		font-weight: 400;
		line-height: 1.4;
		color: $text-dark;
	}

	.description {
		margin: 4px 0 0;
		font-size: 12px;
		color: lighten($text-dark, 30%);
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}
}
