@use '@styles/variables' as *;

.boardWrapper {
	height: 100%;
	overflow-x: auto;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;

	.columnsContainer {
		display: flex;
		padding: 20px;
		gap: 16px;
		justify-content: center;
		height: 100%;
	}

	& h1 {
		text-align: center;
		margin: 50px 0;
	}
}

.addColumn {
	min-width: 270px;
	background: rgba(255, 255, 255, 0.24);
	border: none;
	border-radius: $radius;
	padding: 12px;
	cursor: pointer;
	color: $text-dark;
	font-weight: 600;
	transition: background 0.2s;

	&:hover {
		background: rgba(255, 255, 255, 0.35);
	}
}
