@use 'variables' as *;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	background-color: $bg-main;
	color: $text-dark;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100vh;
}

#root {
	width: 100%;
}
